/*GRID SYSTEM*/

div {
  display: block;
}

* {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: border-box;
}

body, html{
  /*overflow-x: hidden !important;*/
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  line-height: 1.5;
}

body {
  margin: 0;
  background: #fff;
  color: #222;
  cursor: auto;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}

section {
  overflow: hidden;
}

dl, ol, ul {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.6;
  list-style-position: outside;
  margin-bottom: 1.25rem;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  color: #06A57B;
}

div, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  /*font-style: normal;*/
  /*font-weight: 400;*/
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-top: .2rem;
  text-rendering: optimizeLegibility;
}

b, em, i, strong {
  line-height: inherit;
}

/*Clearing*/
.container:after,
.row:after,
.u-cf {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 100%;
  margin: 0;
}

.col {
  float: left;
  min-height: 100px;
  /*padding: 1%;*/
  /*border: 1px solid black;*/
}

.col-1 {
  width: 8.3333333333333%;
  width: calc(100%*(1/12));
}

.col-2 {
  width: 16.666666666666%;
  width: calc(100%*(2/12));
}

.col-3 {
  width: 25%;
  width: calc(100%*(3/12));
}

.col-4 {
  width: 33.33333333333%;
  width: calc(100%*(4/12));
}

.col-5 {
  width: 41.6666666666%;
  width: calc(100%*(5/12));
}

.col-6 {
  width: 50%;
  width: calc(100%*(6/12));
}

.col-7 {
  width: 58.3333333333%;
  width: calc(100% *(7/12));
}

.col-8 {
  width: 66.666666666%;
  width: calc(100%*(8/12));
}

.col-9 {
  width: 75%;
  width: calc(100%*(9/12));
}

.col-10 {
  width: 83.333333333%;
  width: calc(100% * (10/12));
}

.col-11 {
  width: 91.666666666%;
  width: calc(100% * (11/12));
}

.col-12 {
  width: 100%;
}

.col-half {
  width: 50%;
}

.col-one-third {
  width: 33.333333333%;
  width: calc(100%*(4/12));
}

.col-two-thirds {
  width: 66.666666666%;
  width: calc(100%*(8/12));
}

.offset-col-0.5 {
  margin-left: 4.1666666666667%;
  margin-left: calc(100%*(1/12));
}

.offset-col-1 {
  margin-left: 8.3333333333333%;
  margin-left: calc(100%*(1/12));
}

.offset-col-2 {
  margin-left: 16.666666666666%;
  margin-left: calc(100%*(2/12));
}

.offset-col-3 {
  margin-left: 25%;
  margin-left: calc(100%*(3/12));
}

.offset-col-4 {
  margin-left: 33.33333333333%;
  margin-left: calc(100%*(4/12));
}

.offset-col-5 {
  margin-left: 41.6666666666%;
  margin-left: calc(100%*(5/12));
}

.offset-col-6 {
  margin-left: 50%;
  margin-left: calc(100%*(6/12));
}

.offset-col-7 {
  margin-left: 58.3333333333%;
  margin-left: calc(100% *(7/12));
}

.offset-col-8 {
  margin-left: 66.666666666%;
  margin-left: calc(100%*(8/12));
}

.offset-col-9 {
  margin-left: 75%;
  margin-left: calc(100%*(9/12));
}

.offset-col-10 {
  margin-left: 83.333333333%;
  margin-left: calc(100% * (10/12));
}

.offset-col-11 {
  margin-left: 91.666666666%;
  margin-left: calc(100% * (11/12));
}

.offset-one-third {
  margin-left: 33.33333333333%;
  margin-left: calc(100% * (4/12));
}

.offset-two-thirds {
  margin-left: 66.66666666666%;
  margin-left: calc(100% * (8/12));
}

.offset-one-half {
  margin-left: 50%;
  margin-left: calc(100% * (6/12));
}



/* Phone size*/
@media (max-width: 760px) {

  .sm-col-3 {
    width: 25%;
    margin-left: 0;
    text-align: left;
  }

  .sm-col-6 {
    width: 50%;
    margin-left: 0;
    text-align: left;
  }

  .sm-col-12 {
    width: 100%;
    margin-left: 0;
    text-align: left;
  }

  .sm-col-3-center {
    width: 25%;
    margin-left: 0;
    text-align: center;
  }

  .sm-col-6-center {
    width: 50%;
    margin-left: 0;
    text-align: center;
  }

  .sm-col-12-center {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .sm-hide {
    visibility: hidden;
    height: 0;
  }

  .sm-margin-right {
    margin-right: 5%;
  }

  .sm-margin-top {
    margin-top: 5%;
  }

  .sm-margin-bottom {
    margin-bottom: 5%;
  }

  .user-story-img {
    background-color: #06A57B;
  }

  .landing-page {
    background-image: url(../assets/landingBackground.jpg);
    background-size: 320px 320px;
  }

}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

/* Additional styling */

/* Text */
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}

.small-text {
  font-size: 0.7rem;
}

/* General */

.btn {
  background: #06A57B;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 34px 10px 34px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #1B5C99;
  background-image: -webkit-linear-gradient(top, #1B5C99, #012D5E);
  background-image: -moz-linear-gradient(top, #1B5C99, #012D5E);
  background-image: -ms-linear-gradient(top, #1B5C99, #012D5E);
  background-image: -o-linear-gradient(top, #1B5C99, #012D5E);
  background-image: linear-gradient(to bottom, #1B5C99, #012D5E);
  text-decoration: none;
}

/* Heading */

body.home .section-one {
  height: 41rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}


.intro {
  z-index: 3;
  top: 0%;
  transform: none;
  position: relative;
  color: #FFF;
}

.intro-title {
  line-height: 1.1;
  font-size: 3.3rem;
  letter-spacing: -1px;
}

.sitenav {
  background: #fff;
  /*height: 80px;
  line-height: 80px;*/
  /*padding-left: 30px;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  padding: 0 1.5rem;
  box-shadow: 0 0 40px 0 rgba(51,73,94,.15);
}

.sitenav__brand {
  padding: .5rem 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.sitenav__logo {
  color: #06A57B;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
}

.sitenav__logo:hover {
  color: #1B5C99;
}

.sitenav__navigation {
  width: 100%;
}

.sitenav__link {
  color: #06A57B;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.sitenav__link:hover{
  color: #1B5C99;
}

.sitenav__nav {
  max-height: 0;
  transition: max-height .3s;
  overflow: hidden;
}

.sitenav__toggle {
  text-align: center;
  cursor: s-resize;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.sitenav__list {
    margin: 0;
}

.sitenav__item {
  position: relative;
  border-top: 1px solid #ecf1f5;
  padding-bottom: 1px;
}

ul {
  line-height: 1.9;
}

.sitenav__link {
  display: inline-block;
  padding: 0;
  margin: 1.25rem 1rem;
  text-decoration: none;
}

#signUp {
  margin-right: 0;
}

.sitenav__button {
  color: #06A57B!important;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid;
  font-size: .98rem!important;
  line-height: 1.5!important;
  padding: .6rem 1.2rem .5rem!important;
  margin: .5rem 0 1.5rem!important;
  text-align: center;
  display: block;
  text-decoration: none;
}

.sitenav__button:hover {
  color: #fff!important;
  background-color: #06A57B!important;
}

.border__menu {
  font-size: 1.5rem;
  margin: 0;
  color: #1B5C99;
}

.border__menu:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  right: 0.6rem;
  width: 1.2rem;
  height: 0.558rem;
  border-top: 0.35rem double #1B5C99;
  border-bottom: 0.12rem solid #1B5C99;
  font-family: icons;
}

.landing-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 15%;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/landingBackground.jpg);
  overflow: hidden;
  backface-visibility: hidden;
  filter: brightness(60%);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.about-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 15%;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/fields.jpg);
  overflow: hidden;
  backface-visibility: hidden;
  filter: brightness(60%);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.section-one {
  margin-top: 94px;
  position: relative;
  overflow: hidden;
  height: 40rem;
  background: #2c4963;
}

.motto {
  padding: 1.35rem 2rem 1.45rem;
}

.heading__container {
  z-index: 3;
  top: 46%;
  transform: none;
  position: relative;
  color: #FFF;
}

.signup {
  background: #fff;
  border-radius: 6px;
  padding: 1.35rem 2rem 1.45rem;
  border: none;
  position: relative;
}

.signup h2 {
  color: #012D5E;
}

.signup-input {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid rgba(205,210,215,.7);
  border-radius: 4px;
  background: #fafcfd;
}

.section-two {
  padding: 4rem 0;
  color: #012D5E;
}

.body-one {
  background-color: #fff;
}

.section-two-about {
  padding: 4rem 0;
  color: #012D5E;
}

.section-two-about h2 {
  color: #06A57B;
}

.section-two a {
  text-decoration: none;
  color: #06A57B;
}

.section-two a:hover {
  color: #012D5E;
}

.rating {
  height: 13rem;
  border: 1px solid #06A57B;
  margin-left: 5%;
}

.rating p {
  padding: 2%;
}

.section-three {
  padding: 4rem 0;
  left: 0px;
  background: #06A57B;
  background-size: auto 100%;
  color: #fff;
}

.body-two {
  /*padding: 4rem 0;*/
}

.circle {
  width: 15rem;
  height: 15rem;
  border: 3px solid #fff;
  border-radius: 50%;
}

.section-three a {
  text-decoration: none;
  color: #012D5E;
}

.section-three a:hover {
  color: #1B5C99;
}

.tile {
  /*margin: 0.5%;*/
}

.tile img {
  width: 99%;
  opacity: .8;
  padding-top: 1%;
  transition: transform .3s,opacity .3s;
}

.tile img:hover {
  transition: transform .3s,opacity .3s;
  opacity: 1;
  transform: scale(1.02);
}

.section-four {
  padding: 4rem 0;
  background: #FFF;
  color: #012D5E;
}

.body-three {
  /*padding: 2rem 0;*/
}

.user-story img {
  width: 100%;
  height: 15rem;
  opacity: .5;
  transition: transform .3s,opacity .3s;
}

.user-story img:hover {
  transition: transform .3s,opacity .3s;
  opacity: 1;
  transform: scale(1.02);
}

.section-footer {
  background: #012D5E;
  color: #fff;
}

.footer {
  padding: 1rem 0;
  text-decoration: none;
  color: #fff;
}

.footer:hover {
  color: #06A57B;
}

.terms {
  margin-top: 2rem;
}

/* Apply these styles if the browser's width is less than 380px */
@media (max-width: 380px) {

  html, body {
    font-size: 12px;
  }

  .img__hide {
    display: none;
  }

  .section-one {
    margin-top: 35px
  }

}

@media (max-width: 1200px) and (min-width: 761px) {

  .md-col-3 {
    width: 25%;
  }

  .md-col-4 {
    width: 33.3333333%;
    width: calc(100%*(4/12));
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-8 {
    width: 66.6666667%;
    width: calc(100%*(8/12));
  }

  .md-col-12 {
    width: 100%;
  }

}

@media (max-width: 860px) {

  /*.smnav__hide {
    visibility: hidden;
  }*/

  .lg-nav-hide {
    visibility: visible;
  }
  .sitenav__open {
    max-height: 80vh;
    overflow-y: auto;
    margin-bottom: .75rem;
  }

  .circle {
    margin-right: 5rem;
    width: 7rem;
    height: 7rem;
  }
}

@media (min-width: 60rem) {

  .lg-nav-hide {
    visibility: hidden;
  }

  .sitenav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .sitenav__nav {
    max-height: 2000px;
    overflow: visible;
    margin-bottom: 0;
  }

  .sitenav__brand {
    padding: 0;
  }

  .sitenav__navigation {
    width: auto;
  }

  .sitenav__toggle {
    display: none;
  }

  .sitenav__item {
    display: inline-block;
    border-top: none;
  }

  .sitenav__button {
    margin: .5rem 0 1.5rem 1.75rem!important;
    display: inline-block;
  }

  .sitenav__list {
    text-align: center;
    overflow: visible;
    padding-bottom: 0;
    display: inline-block;
  }

  .sitenav__link {
    margin: 1.75rem 1.4rem;
  }

  #signUp {
    display: inline-block;
    margin-right: -250px;
    transition: .5s;
  }

}
